<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="cancelar()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Visualizando {{evento.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <!-- <img [src]="evento.imagem64" alt="Imagem promocional do evento" width="100%" height="250px"> -->
    <ion-card-header>
      <ion-card-title> {{ evento.nome }} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ evento.detalhes }}
      <br>
      <p><strong>Local: </strong> {{evento.local.nome}} </p>
      <p>
        <strong>Data: </strong> {{evento.dataFormatada }}
        <strong>Hora: </strong> {{evento.hora}}
      </p>
      <p *ngIf="!evento.geraCertificado"><strong>Valor: </strong> R${{evento.valorIngresso}} </p>
      <p *ngIf="evento.geraCertificado"><strong>Duração: </strong> {{evento.duracao}} minutos </p>
      <p *ngIf="evento.parceiros.length > 0"><strong>Realização: </strong> <span
          *ngFor="let parceiro of evento.parceiros"> {{parceiro.nome}}, </span> </p>
      <p *ngIf="evento.geraCertificado">
        <ion-icon name="alert-circle-outline"></ion-icon>
        Este evento gera certificado de participação!
      </p>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="fixed">Quantidade</ion-label>
              <ion-input type="number" [(ngModel)]="quantidade"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="success" (click)="addCarrinho(evento)">
              Adicionar
              <ion-icon name="cart-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>

  </ion-card>

</ion-content>